.kaufman__triangle {
    width: 877px;
    height: 877px;
    position: absolute;
    background: url(../../../images/kaufman-triangle.svg);
    background-repeat: no-repeat;
    right: -210px;
    top: 0;
    z-index: 0;
    background-size: cover;
    animation: rotation 20s ease-in infinite;
  }